{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}
    {{ macroMenu.menu('Ma banque',5) }}
{% endblock %}

{% block body %}
    <h1>Nos recommandations </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Titre</th>
                <th>Message</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.date ? avi.date|date('Y-m-d') : '' }}</td>
                <td>{{ avi.titre }}</td>
                <td>{{ avi.message }}</td>
                <td>{{ avi.note }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Il n'ya pas encore d'avis pour notre banque !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div style="display: flex;flex-wrap: nowrap; align-content: center;
    justify-content: center; align-items: center;">
    {{ form_start(form) }}
        <table>
            <tr>
                <td>
        {{ form_label(form.titre) }}
                </td>
                <td>
        {{ form_widget(form.titre) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.message) }}
                </td>
                <td>
                    {{ form_widget(form.message) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.note) }}
                </td>
                <td>
                    {{ form_widget(form.note) }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn">{{ button_label|default('Enregistrer mon avis') }}</button>

                </td>
            </tr>
        </table>
        {{ form_end(form) }}
    </div>
{% endblock %}
